/*   body styles   */

body {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
}

.dashboard {
  display: flex;
}

.section-h2 {
  font-size: 30px;
}

.recent-activity-container, .goals-container, .my-workouts-container {
  flex: 1;
  background-color: #06BEE1;
  border: 1px solid black;
}

/*   Header Styles   */


.header {
  background-color: #1768AC;
  height: 25vh;
}

.header h1 {
  font-size: 75px;
  font-weight: lighter;
  text-align: center;
  padding: 20px;
  width: 100%;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 20px;
  padding: 20px;
  width: 80%;
  margin: auto;
}

.nav li:hover {
  cursor: default;
  color: #06BEE1;
}

/*Recent Activity Section */

.recent-activity-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.recent-activity-container h2 {
  margin: 15px 0px;
}

.recent-activity-container button {
  background: #03256C;
  border: none;
  color: #fff;
  display: block;
  font-size: 17px;
  margin: 10px auto;
  height: 31px;
  width: 86px;
}

.activity-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 23px;
  justify-content: center;
  align-items: center;
}

.activity-container div {
  margin: 5px;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
}

.activity-box {
  background-color: #D8D8D8;
  border: 1px solid #979797;
  flex: 1 0 30%;
}

.activity-box-header {
  background-color: #C7C3C3;
  border: 1px solid #979797;
}

/*   Goals Section   */

.goals-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.goals-tracker-img {
  /*width: 250px;*/
  height: 200px;
  margin: 10px;
}

.goals-container h2 {
  text-align: center;
  margin: 20px auto;
}

.goal-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: center;
  margin: 20px auto;
}

.ual-goal {
  margin: 10px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 18px;
}

.individual-goal p {
  margin-left: 5px;
  font-size: 20px;
}

.indiv-goal-img {
  height: 45px;
}

.individual-goal {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.goal-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 60%;
  margin: 10px auto;
}

.btn {
  background-color: #03256C;
  color: white;
  border: 1px solid #979797;
  width: 80px;
  height: 30px;
}

.my-workouts-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.my-workouts-container img {
  display: block;
}

.calendar {
  height: 250px;
}

.task-chart {
  height: 250px;
}

@media only screen and (min-width: 800px) {
  .dashboard {
    flex-direction: row;
    height: 80vh;
  }
}

@media only screen and (max-width: 799px) {
  .dashboard {
    flex-direction: column;
  }
}
